@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Quicksand:wght@700&display=swap');

.TrackerApp {
  position: absolute;
  width: 375px;
  height: 431px;
  left: 0px;
  top: 3472px;
  background: linear-gradient(180deg, #FFF6FB 0%, #FFFFFF 100%);
}

.Headerp {
  position: absolute;
  width: 245px;
  height: 43px;
  left: 30px;
  top: 39px;

  font-family: 'Reptile';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 134.8%;
  /* or 43px */


  color: #000000;
}

.Para1 {
  position: absolute;
  width: 308px;
  height: 145px;
  left: 33px;
  top: 105px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 29px;


  color: rgba(0, 0, 0, 0.8);
}

.ButtonSec {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 45px;

  position: absolute;
  width: 315px;
  height: 66px;
  left: 30px;
  top: 283px;

  background: linear-gradient(288.62deg, #6E8CF6 42.36%, rgba(110, 213, 246, 0.93) 115.74%);
  box-shadow: 0px 2px 16px rgba(71, 222, 255, 0.33);
  border-radius: 70px;
}

.ButtonText {
  position: static;
  width: 277px;
  height: 30px;
  left: 19px;
  top: 18px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 15.8605px;
  line-height: 30px;
  /* identical to box height */

  text-align: center;

  color: #FFFFFF;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}

.Photo1 {
  position: absolute;
  width: 164px;
  height: 164px;
  left: 11px;
  top: 3854px;
}

.Photo2 {
  position: absolute;
  width: 164px;
  height: 164px;
  left: 200px;
  top: 3854px;
}

.Photo3 {
  position: absolute;
  width: 164px;
  height: 164px;
  left: 11px;
  top: 4043px;
}

.Photo4 {
  position: absolute;
  width: 164px;
  height: 164px;
  left: 200px;
  top: 4043px;
}