@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Quicksand:wght@700&display=swap');
.IntroPage {
  position: absolute;
  width: 375px;
  height: 841px;
  left: 0px;
  top: 1725px;
  background: linear-gradient(165.41deg, #D99EC9 0%, rgba(246, 240, 196, 0) 100%);
}

.Header {
  position: absolute;
  width: 295px;
  height: 33px;
  left: 34px;
  top: 39px;
  font-family: 'Poppins';
  font-style:bold;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  color: #1B1B50;
}

.SubHeaderp {
  position: absolute;
  width: 335px;
  height: 86px;
  left: 34px;
  top: 109px;
  font-family: 'Reptile';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 134.8%;
  color: #1B1B50;
}

.Para1 {
  position: absolute;
  width: 308px;
  height: 575px;
  left: 34px;
  top: 224px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 25px;
  color: #1B1B50;
}